<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>안녕</title>

    <style>
        @font-face {
            font-family: 'Ownglyph_ParkDaHyun';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
}
    </style>
</head>
<body style="background-color: pink; font-family: 'Ownglyph_ParkDaHyun';">
    <h1>
      <p>태희에게</p>
      <p>------------------------------------------------------</p>
      <p>오늘 무슨 기능이 있는건 아니지만, 처음으로 사이트 배포를 해봤어!</p>
      <p>태희 자고있어서 연습해볼겸 이렇게 만들어봤당! ㅎㅎ</p>
      <p>태희야 우리 만난지 벌써 1년이 다 돼간다!!</p>
      <p>어제도 그렇고 그동안 태희 속상하게한거 진짜 미안해.. ㅠㅠ</p>
      <p>제일 마음 아프고 힘든건 태희였을텐데 내가 너무 다그쳤다...</p>
      <p>다음부턴 오해인건 잘 설명하고 마음고생했을 태희 꼭 안아줄게</p>
      <p>항상 옆에서 내가 웃을 수 있게 해주는 우리 태희!!</p>
      <p>정말 많이 많이 고맙고 사랑해!!💕</p>
      <p>-------------------------------------------------------</p>
      <p>철규가</p>
    </h1>


    <script>
      alert("      세상에서 제일 예쁜 \n    💕💕우리 태희💕💕")
    </script>
</body>
</html>